@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;500&family=Abril+Fatface&family=Anton&family=Archivo+Narrow&family=Bebas+Neue&family=Courgette&family=Gabarito&family=Inter&family=Kalam&family=Lato&family=Lilita+One&family=Lobster&family=Nunito&family=Oswald&family=Permanent+Marker&family=Poppins&family=Roboto&family=Roboto+Condensed&family=Rubik&family=Young+Serif&display=swap');

body {
  margin: 0;
  font-family: 'Gabarito', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
